@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Manrope:wght@800&family=Open+Sans&family=Work+Sans&display=swap');

body{
    font-family: 'EB Garamond', serif;
}
/* Navbar */
.logo{
    width: 40px;
}
.nav-text{
    color: #707070;
}
.btn-custom{
    background-color: #B68C5A;
    color: #fff;
}

/* Banner */

.banner-img{
    position: relative;
}
.banner-header{
    font-weight: 800;
    color: #FFFFFF;
    font-size: 60px;
}
.banner-titles{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.para-1{
    font-size: 16px;
    color: #E7E7E7;
}
.banner-form{
    width: 400px;
    height: 45px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
}

/* leagal area  */
.para-2{
    color: #707070;
    font-size: 16px;
}
.arrow{
    width: 40px;
    height: 40px;
    color: #fff;
    background: #B68C5A;
    border-radius: 50%;
    padding-top: 8px;
}
.middle{
    background: #F5F5F5;
}

/* Slider area  */
.bg-banner{
    background-color: #000;
}
.carousel-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* footer  */
.footer{
    background: #111111;
    width: 100%;
    height: 400px;
    color: #fff;
}
.foot-title{
    font-size: 30px;
    font-weight: 600;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.fot-rel{
    position: relative;
}
.fot-rel input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.fot-abs{
    position: absolute;
    background-color: #B68C5A;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    top: 0;
    right: 0;
}
.icon{
    position: absolute;
    top: -6px;
    left: 2px;
    font-size: 35px;
}





@media only screen and (max-width: 576px) {
    .banner-header{
        font-size: 26px;
    }
    .banner-titles{
        top: 0;
    }
    .banner-form{
        width: 200px;
        height: 45px;
    }
}